<!DOCTYPE html>
<html>
<head>
    <title>Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Styling -->
    <link rel="stylesheet" href="css/ratchet.css"/>
    <link rel="stylesheet" href="css/ratchet-theme-android.css"/>
    <link rel="stylesheet" href="css/styles.css"/>

    <!-- External Libraries -->
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    <script src="js/lib/forcetk.mobilesdk.js"></script>
    <script src="js/lib/fastclick.js"></script>

    <!-- Placed by Cordova upon build -->
    <script src="cordova.js"></script>

    <!-- Salesforce Libraries -->
    <script src="js/lib/smartsync.js"></script>
    <script src="js/lib/stackrouter.js"></script>
    <script src="js/lib/auth.js"></script>

    <!-- --------------------------------------------- HTML TEMPLATES ------------------------------------------------- -->
    <!-- --------------------------------------- Main Landing Page Template ------------------------------------------- -->
    <script id="landing-page" type="text/template">
        <header class="bar bar-nav">
            <h1 class="title">Select Type of Form</h1>
        </header>
        <footer class="bar bar-footer">
            <span id="offlineStatusMain"></span>
            <a class="btn btn-nav pull-right logoutUser">Logout</a>
            <a class="btn btn-nav pull-right inspectSmartstore">Db</a>
        </footer>
        <div class="content">
            <a href="#add/incident">
                <div class="btn btn-block">Incident</div>
            </a>
            <a href="#add/nearMiss">
                <div class="btn btn-block">Near Miss</div>
            </a>
        </div>
    </script>

    <!-- --------------------------------------- Search page template ------------------------------------------------- -->
    <script id="search-page" type="text/template">
        <header class="bar bar-nav">
            <a class="btn pull-left back">Back</a>
            <h1 class="title">Select Location</h1>
        </header>
        <footer class="bar bar-footer">
            <span id="offlineStatus"></span>
            <a class="btn btn-nav pull-right logoutUser">Logout</a>
            <a class="btn btn-nav pull-right inspectSmartstore">Db</a>
        </footer>

        <div class="bar bar-standard bar-header-secondary">
            <input type="search" class="search-key" placeholder="Search"/>
        </div>

        <div class="content">
            <ul class="table-view"></ul>
        </div>
    </script>

    <!-- --------------------------------------- Online/Offline Toggler Template -------------------------------------- -->

    <script id="offline-toggler" type="text/template">
        <a class="btn toggleStatus <%= isOnline ? 'btn-positive' : 'btn-negative' %>"><%= (isOnline ? "Online" : "Offline") %></a>
        <a href="#sync" class="btn syncRecords <%= isOnline ? 'enabled' : 'disabled' %>"><%= (isOnline ? "Sync Records" : "No Connection") %></a>
    </script>

    <!-- --------------------------------------- Sync Page Template --------------------------------------------------- -->

    <script id="sync-page" type="text/template">
        <header class="bar bar-nav">
            <a class="btn pull-left back">Back</a>
            <h1 class="title">Sync</h1>
        </header>

        <footer class="bar bar-footer">
            <span class="btn btn-positive">Online</span>
        </footer>

        <div class="bar bar-standard bar-header-secondary">
            <a class="btn btn-block sync">Process <%= countLocallyModified %> records</a>
        </div>

        <div class="content">
            <ul class="table-view"></ul>
        </div>
    </script>

    <!-- --------------------------------------- List Item Templates ------------------------------------------ -->
    <script id="form-list-item" type="text/template">
        <a href="#edit/forms/<%= Id %>/false">
            <div>
                <span class="important"><%= Form_Group__c %></span>
                <br/><span class="not-important"><%= Id %></span>
                <% if (__sync_failed__) { %>
                <span class="pull-right badge badge-negative">Failed to sync</span>
                <% } else if (__local__) { %>
                <span class="pull-right badge badge-primary">Locally<%= (__locally_created__ ? " created" : "") + (__locally_updated__ ? " updated" : "") + (__locally_deleted__ ? " deleted" : "") %></span>
                <% } else { %>
                <span class="pull-right badge badge-positive">Cached</span>
                <% } %>
            </div>
        </a>
    </script>

    <script id="location-list-item" type="text/template">
        <div>
            <a href="#add/form/<%= Id %>/false">
                <span class="important"><%= Location_ID__c.split('2015')[0] %></span>
                <br/><span class="not-important"><%= Id %></span>
                <% if (__sync_failed__) { %>
                <span class="pull-right badge badge-negative">Failed to sync</span>
                <% } else { %>
                <span class="pull-right badge badge-positive">Cached</span>
                <% } %>
            </a>
        </div>
    </script>

    <!-- --------------------------------------- Add/edit form page templates -------------------------------------- -->
    <script id="edit-form-page" type="text/template">
        <header class="bar bar-nav">
            <a class="btn btn-nav pull-left back">Back</a>
            <a class="btn btn-nav pull-right btn-negative toggleDelete">Delete</a>
            <h1 class="title"><%= action %> Form</h1>
        </header>

        <footer class="bar bar-footer">
            <span id="offlineStatusPage"></span>
        </footer>

        <div class="content">
            <div class="content-padded">
                <!-- Swap template based on form type -->
                <% if (Form_Group__c == "Incident") { %>
                <div class="input-group">
                    <div class="input-row" id="formIncident_Date_Time__c">
                        <label>Time of Incident</label>
                        <input style="border-left: 1px solid black; padding:0px" type="datetime-local" name="Incident_Date_Time__c" value="<%= Incident_Date_Time__c %>" />
                        <span class="error" id="formIncident_Date_Time__cError" />
                    </div>
                    <div class="input-row" id="formConsequence__c">
                        <label style="width:35%; padding-left: 6px; padding-right: 6px">Consequence</label>
                        <input style="border-left: 1px solid black; height:100%; width:65%" list="Consequence__c" name="Consequence__c"  value="<%= Consequence__c %>">
                        <datalist id="Consequence__c">
                            <option value="Serious">Serious</option>
                            <option value="Minor">Minor</option>
                            <option value="Minimal">Minimal</option>
                            <option value="Ergonomic">Ergonomic</option>
                        </datalist>
                        <span class="error" id="formConsequence__cError" />
                    </div>
                    <div class="input-row" id="formIncident_Description__c">
                        <label>Description of Incident</label>
                        <input style="border-left: 1px solid black" type="text" name="Incident_Description__c" value="<%= Incident_Description__c %>" />
                        <span class="error" id="formIncident_Description__cError" />
                    </div>
                    <div class="input-row" id="formPhoto">
                        <a class="btn btn-block camera">Add Photo</a>
                    </div>
                    <span>Photos: </span>
                    <%_.forEach(imgs, function (i) {%>
                    <div class="input-row" id="photos">
                        <img height=50 width=50 src="<%= i.src %>">
                        <%= i.name %>
                        <a href="#delete/photo/<%= i.id %>">
                            <span class="btn btn-nav">Delete</span>
                        </a>
                    </div>
                    <% }) %>
                </div>
                <% } else if (Form_Group__c == "Near Miss") { %>
                <div class="input-group">
                    <div class="input-row" id="formIncident_Date_Time__c">
                        <label>Time of Incident</label>
                        <input style="border-left: 1px solid black; padding:0px" type="datetime-local" name="Incident_Date_Time__c" value="<%= Incident_Date_Time__c %>" />
                        <span class="error" id="formIncident_Date_Time__cError" />
                    </div>
                    <div class="input-row" id="formIncident_Description__c">
                        <label>Description of Incident</label>
                        <input style="border-left: 1px solid black" type="text" name="Incident_Description__c" value="<%= Incident_Description__c %>" />
                        <span class="error" id="formIncident_Description__cError" />
                    </div>
                    <div class="input-row" id="formPhoto">
                        <a class="btn btn-block camera">Add Photo</a>
                    </div>
                    <span>Photos: </span>
                    <%_.forEach(imgs, function (i) {%>
                    <div class="input-row" id="photos">
                            <img height=50 width=50 src="<%= i.src %>">
                            <%= i.name %>
                            <a href="#delete/photo/<%= i.id %>">
                                <span class="btn btn-nav">Delete</span>
                            </a>
                    </div>
                    <% }) %>
                </div>
                <% } %>
            </div>
            <a class="btn btn-primary save">Save</a>
        </div>
    </script>

    <!-- Our Resources -->
    <script src="js/util.js"></script>
    <script src="js/models.js"></script>
    <script src="js/views.js"></script>
    <script src="js/router.js"></script>

</head>

<body>
<!-- Content is dynamically loaded in by router -->
<div id="content"></div>

</body>
</html>
